<div class="jumbotron landing-jumbotron">
  <h1>In the News!</h1>
  <p>News about what matters the most to those in Tech</p>
</div>

<div class="panel panel-default">
  <ul class="list-group">
    <%- @stories.each.with_index do |story, index| %>
      <li class="list-group-item">
        <div class="media">
          <% if story.image_url %>
          <div class="media-left">
            <img class="media-object" src="<%= story.image_url %>" height="74" width="74">
          </div>
          <% else %>
          <div class="media-left">
            <img class="media-object" src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/dc4c6e55602739.56099094861e1.jpg" height="74" width="74">
          </div>
          <% end %>
          <div class="media-body">
            <h4 class="media-heading"><%= index + 1 %> . <a href="<%= story.url %>"><%= story.title %></a></h4>
            Posted <%= time_ago_in_words(story.created_at) %> ago
            Created By: <%= story.created_by.email %>

            <div class="pull-right">
              <%= link_to story do %>
                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
              <% end %>
              <%= link_to edit_story_path(story) do %>
                <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
              <% end %>
              <%= link_to story, method: :delete, data: { confirm: 'Are you sure?' } do %>
                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
              <% end %>
            </div>

          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
